{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-var": 0,
    "vars-on-top": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0
  },
  "plugins": [
  ]
}
